@using IssueTrackingApplication1.Models
@{
    ViewBag.Title = "EditTicket";
    Layout = "~/Views/Shared/_devLayout.cshtml";
}

@{ 
    var record = Session["user1"] as IssueInfo;
}

@Html.Partial("_DevSideBar")
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2" style="background-color:white; padding-top:30px;">
                <h4 class="page-title">Assign Ticket</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2" style="background-color:white; padding-bottom:30px;">
                <form action="" method="post">
                    <div class="row">
                        <input type="hidden" value="@record.UserId" name="UserId" />
                 
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <select class="form-control select" name="Status">
                                    <option value="">Status</option>
                                    <option value="Pending">Pending</option>
                                    <option value="In-Progress">In-Progress</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                            </div>
                        </div>
                        <div class="m-t-20 text-center col-sm-12">
                            <button type="submit" class="btn btn-primary submit-btn">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



