@using IssueTrackingApplication1.Models
<div class="header" style="background-color:rgba(26,63,124); color: white">
    @{
        var Dev = Session["devInfo"] as DevInfo;
    }
    <div class="header-left">
        <img src="~/Content/img/trackingicon.jpg" width="35" height="35" alt="" style="margin-top: 6px;"> <span>ISSUE TRACKING</span>
    </div>
    <ul class="nav user-menu float-right">
        <li class="nav-item dropdown has-arrow">
            <a href="/Users/AdminLogin" class="nav-link user-link">
                <span class="user-img">
                    <img class="rounded-circle" src="~/Content/img/user.jpg" width="24" alt="Admin">
                    <span class="status online"></span>
                </span>
               
                @{
                    if (Dev != null)
                    {
                        <span>@Dev.FirstName</span>
                    }
                }

            </a>
        </li>
    </ul>
</div>
