@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Issue Tracking</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <style>
       body {
           background-image: url("../Content/img/bg-image08.jpg");
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: 110% 110%;
        }
    </style>
</head>

<body>
    <div class="main-wrapper">
        
       

        @RenderBody()

        <div class="sidebar-overlay" data-reff=""></div>
    </div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Content/js/Chart.bundle.js"></script>
    <script src="~/Content/js/chart.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script>
        $(function () {
            $("#Login").click(function (e) {
                e.preventDefault();

                $(this).html(
                  "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span> Loading.."
                );

                var username = $("#Username").val();
                var password = $("#Password").val();
                if (username == "" || password == "") {
                    $("#responseMessage").html("<span style='color:#ff1a1a;'>All Fields are required.</span>");
                    return;
                }
                var requestObject = {
                    "Username": username,
                    "Password": password
                }

                var url = "https://run.mocky.io/v3/c1e54f58-61d1-4669-9336-2c08019a10e8";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: requestObject,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if(msg.ResponseCode != "00"){
                            $("#responseMessage").html("<span style='color:#ff1a1a;'>Invalid User.</span>");
                            return;
                        }

                        var key = CryptoJS.enc.Utf8.parse('FuzzyLogic@2020!');
                        var iv = CryptoJS.enc.Utf8.parse('FuzzyLogic@2020!');

                        var encrypted = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(JSON.stringify(msg.EmployeeInfo)), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                        var url = "/Users/Inbox?Id=" + encrypted;
                        window.location.href = url;
                    },
                    error: function (e) {
                        $("#responseMessage").html("<span style='color:#ff1a1a;'>Network Error.</span>");
                        $(".spinner-border").remove();
                    }
                });
            });
        })
    </script>
</body>

</html>
