<div class="header">
    <div class="header-left">
        <a href="index-2.html" class="logo">
            <img src="~/Content/img/trackingicon.jpg" width="35" height="35" alt=""> <span>ISSUE TRACKING</span>
        </a>
    </div>
</div>
