
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Html.Partial("AdminSideBar")

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">Inbox</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="email-content col-md-12">
                <div class="table-responsive">
                    <table class="table table-inbox table-hover">

                        <tbody>

                            <tr class="unread clickable-row" data-href="mail-view.html">
                                <td>
                                    <input type="checkbox" class="checkmail">
                                </td>
                                <td><span class="mail-important"><i class="fa fa-star-o"></i></span></td>
                                <td class="name">Envato Account</td>
                                <td class="subject">Important account security update from Envato</td>
                                <td></td>
                                <td class="mail-date">8:42</td>
                                <td><a href="#">Assign Issues</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


